@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h3 {
    @apply mb-8 text-4xl font-bold font-opensans text-VeryDarkCyan;
  }

  h5 {
    @apply mb-2 text-2xl font-bold text-VeryDarkCyan;
  }
}

.section-container {
  @apply max-w-6xl mx-auto text-center px-6 md:text-left;
}

.section-content {
  @apply max-w-6xl mx-auto leading-9 text-center  text-cyan-900;
}

.button-container {
  @apply flex flex-col justify-center w-full space-y-6 text-xl text-white md:flex-row md:space-y-0 md:space-x-4;
}

body {
  background-image: url("../image/bg-footer-top-desktop.svg");
  background-repeat: no-repeat;
  background-size: center center;
}

@media (max-width: 576px) {
  body {
    background-image: url("../image/bg-footer-top-mobile.svg");
  }
  background-repeat: no-repeat;
  background-size: contain;
}
